---
type Props = {
  ms: number,
  class?: string,
}

const {ms, class: cls} = Astro.props;

console.log(`Wait :: sleeping for ${ms}ms`)
await new Promise(resolve => setTimeout(resolve, ms));
console.log('Wait :: finished')
---
<div class:list={["rounded p-2 border-gray-300 border-2", cls]}>
<slot />
<p class="italic text-gray-600 text-sm">Loaded in {ms}ms</p>
</div>