---
import Layout from "../components/Layout.astro";
import Wait from "../components/Wait.astro";
import { Suspense } from 'simple-stack-stream/components'
---
<Layout>
 <h1>Out of order streaming</h1> 
 <!-- out-of-order streaming: fallback,
  JS to swap content -->
  <Suspense>
    <Wait ms={2000}>
      <p class="font-bold text-xl">Content</p>
    </Wait>
    <p slot="fallback">Loading...</p>
  </Suspense>

  <!-- in-order HTML streaming (no client JS) -->
  <Wait class="fixed bottom-0 left-0 right-0" ms={500}>
    <footer>
      <p>Follow us</p>
      <p>Join the newsletter</p>
    </footer>
  </Wait>
</Layout>