---
import Layout from "../components/Layout.astro";
import Wait from "../components/Wait.astro";
import { Suspense, } from 'simple-stack-stream/components'
---
<Layout>

  <main class="flex flex-col gap-2 max-w-prose mx-2">
   <h1 class="font-bold text-xl">Out of order streaming</h1>
 <!-- out-of-order streaming: fallback,
  JS to swap content -->
  <!-- <Suspense>
    <Wait ms={2000}>
      <p class="font-bold text-lg">Slow content</p>
    </Wait>
    <p class="rounded p-2 border-gray-300 border-2" slot="fallback">Loading...</p>
  </Suspense> -->

  <!-- <Suspense>
    <Wait ms={2000}>
      <p class="font-bold text-lg">Slow content</p>
    </Wait>
    <p class="rounded p-2 border-gray-300 border-2" slot="fallback">Loading...</p>
    <Suspense>
      <Wait ms={1000}>
        <p class="font-bold text-lg">Slow content</p>
      </Wait>
      <p class="rounded p-2 border-gray-300 border-2" slot="fallback">Loading...</p>
    </Suspense>
  </Suspense> -->

  <!-- in-order HTML streaming (no client JS)
  <Wait class="fixed bottom-0 left-0 right-0" ms={500}>
    <footer>
      <p>Follow us</p>
      <p>Join the newsletter</p>
    </footer>
  </Wait>
  -->

  <Suspense>
    <Wait ms={1000}>
      <p class="font-bold text-lg">Slow content 1</p>
    </Wait>
    <p class="rounded p-2 border-gray-300 border-2" slot="fallback">Loading...</p>
    <Suspense>
      <Wait ms={1000}>
        <p class="font-bold text-lg">Slow content 2</p>
      </Wait>
      <p class="rounded p-2 border-gray-300 border-2" slot="fallback">Loading...</p>
      <Suspense>
        <Wait ms={1000}>
          <p class="font-bold text-lg">Slow content 3</p>
        </Wait>
        <p class="rounded p-2 border-gray-300 border-2" slot="fallback">Loading...</p>
      </Suspense>
    </Suspense>
  </Suspense>

  <hr />
  
  <Suspense>
    <Wait ms={1000}>
      <p class="font-bold text-lg">Slow content 1</p>
    </Wait>
    <p class="rounded p-2 border-gray-300 border-2" slot="fallback">Loading...</p>
    <Suspense>
      <Wait ms={2000}>
        <p class="font-bold text-lg">Slow content 2</p>
      </Wait>
      <p class="rounded p-2 border-gray-300 border-2" slot="fallback">Loading...</p>
      <Suspense>
        <Wait ms={1000}>
          <p class="font-bold text-lg">Slow content 3</p>
        </Wait>
        <p class="rounded p-2 border-gray-300 border-2" slot="fallback">Loading...</p>
      </Suspense>
    </Suspense>
  </Suspense>

  <!-- <Suspense>
    <p slot="fallback">Loading... (also shouldn't appear)</p>
    <Wait ms={1}>
      <p class="font-bold text-lg">More content</p>
      <p>It's only delayed by only 1ms, so it shouldn't show a fallback either</p>
    </Wait>
  </Suspense> -->
</main>
</Layout>