---
import Signup, { signup } from "../components/Signup";
import { ViewTransitions } from "astro:transitions";

const { form } = Astro.locals;
const formResult = await form.parseRequest(signup);

if (formResult?.success) {
  console.log(formResult.data);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <Signup transition:persist client:load />
    <style>
      @import "open-props/style";
      @import "open-props/normalize";
    </style>
  </body>
</html>
